{% extends "base.html.twig" %}

{% block body %}
	<div class="container">

		<h1>{{ (isCreated) ? "Create new" : "Update" }}
			post</h1>

		{{form_start(form)}}
		<div>
			{{form_label(form.title, null,{
                 'label_attr': {
                    'class': 'form-label'
                }
            })}}
			{{form_widget(form.title , {
                'attr': {
                    'class': 'form-control'
                }
            })}}
		</div>
		{{form_row(form.content)}}
		{{form_end(form)}}
	</div>
{% endblock %}
