{% extends 'base.html.twig' %}

{% block title %}Hello PostController!
{% endblock %}

{% block body %}
	<div class="container">
		<div class="text-center mb-5">
			<a href="{{path("post.create")}}" class="btn btn-primary">Add new post</a>
		</div>
		<div class="row">
			{% for post in postList %}
				<div class="col-md-3 mt-2">
					<div class="card">
						<div class="card-body">
							<a href="{{path('post.show', {id: post.id})}}">
								<h5 class="card-title">{{post.title | upper() }}</h5>
							</a>
							<span>{{post.createdAt | date("d/m/Y") }}</span>
							<p>
								{{post.content}}
							</p>
							<a href="{{path("post.delete", {id: post.id})}}" class="btn btn-danger">Delete</a>
							<a href="{{path('post.update', {id: post.id})}}" class="btn btn-secondary">Edit</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
